.-aliyun-widget-loading-skeleton {
  min-height: 240px;
  background-repeat: no-repeat;
  background-image: 
    linear-gradient(#e6e6e6 10px, transparent 0),
    linear-gradient(#e6e6e6 10px, transparent 0),
    linear-gradient(#e6e6e6 10px, transparent 0),
    linear-gradient(#e6e6e6 10px, transparent 0),
    linear-gradient(#e6e6e6 10px, transparent 0),
    /* layer 0: card bg */
    /* gray rectangle that covers whole element */
    linear-gradient(white 100%, transparent 0);
  background-size:
    240px 40px,
    120px 40px,
    520px 40px,
    800px 40px,
    360px 40px,
    100% 100%;
  background-position:
    16px 16px,
    16px 56px,
    16px 126px,
    16px 166px,
    16px 206px,
    0 0;
}
