// 由 demo-default 生成，仅做参考，且放在仓库里 IDE 可以有提示
:root {
  --cb-color-text-brand: #ff6a00;
  --cb-color-text-accent: #0064c8;
  --cb-color-text-primary: #333;
  --cb-color-text-secondary: #666;
  --cb-color-text-tertiary: #999;
  --cb-color-text-disabled: #ccc;
  --cb-color-text-info: #0064c8;
  --cb-color-text-success: #1e8e3e;
  --cb-color-text-warning: #ffc440;
  --cb-color-text-error: #d93026;
  --cb-color-text-danger: #d93026;
  --cb-color-text-title: #111;
  --cb-color-text-emphasis: #ff6a00;
  --cb-color-text-code: #f25c7f;
  --cb-color-border-brand: #ff6a00;
  --cb-color-border-accent: #0064c8;
  --cb-color-border-primary: #efefef;
  --cb-color-border-secondary: #dedede;
  --cb-color-border-tertiary: #c0c6cc;
  --cb-color-border-disabled: #c0c6cc;
  --cb-color-border-help: #888;
  --cb-color-border-info: #0064c8;
  --cb-color-border-success: #1e8e3e;
  --cb-color-border-warning: #ffc440;
  --cb-color-border-error: #d93026;
  --cb-color-border-danger: #d93026;
  --cb-color-bg-brand: #ff6a00;
  --cb-color-bg-accent: #0064c8;
  --cb-color-bg-primary: #fff;
  --cb-color-bg-secondary: #f7f9fa;
  --cb-color-bg-tertiary: #ebebeb;
  --cb-color-bg-disabled: #f7f9fa;
  --cb-color-bg-help: #f7f7f7;
  --cb-color-bg-info: #ebf4fb;
  --cb-color-bg-success: #edfcf1;
  --cb-color-bg-warning: #fff7db;
  --cb-color-bg-error: #fcefee;
  --cb-color-bg-danger: #fcefee;
  --cb-color-link-disabled: #ccc;
  --cb-color-link-primary: #0064c8;
  --cb-color-link-primary-visited: #0064c8;
  --cb-color-link-primary-hover: #0064c8;
  --cb-color-link-primary-active: #0064c8;
  --cb-color-link-secondary: #666;
  --cb-color-link-secondary-visited: #666;
  --cb-color-link-secondary-hover: #0064c8;
  --cb-color-link-secondary-active: #0064c8;
  --cb-color-link-tertiary: #666;
  --cb-color-link-tertiary-visited: #666;
  --cb-color-link-tertiary-hover: #333;
  --cb-color-link-tertiary-active: #333;
  --cb-color-link-brand: #ff6a00;
  --cb-color-link-brand-visited: #ff6a00;
  --cb-color-link-brand-hover: #ff6a00;
  --cb-color-link-brand-active: #ff6a00;
  --cb-color-link-brand-secondary: #666;
  --cb-color-link-brand-secondary-visited: #666;
  --cb-color-link-brand-secondary-hover: #ff6a00;
  --cb-color-link-brand-secondary-active: #ff6a00;
  --cb-color-input-placeholder: #999;
  --cb-color-input-text: #333;
  --cb-color-input-border: #c0c6cc;
  --cb-color-input-bg: #fff;
  --cb-color-input-text-hover: #333;
  --cb-color-input-border-hover: #c0c6cc;
  --cb-color-input-bg-hover: #fff;
  --cb-color-input-text-focus: #333;
  --cb-color-input-border-focus: #0064c8;
  --cb-color-input-border-focus-brand: #ff6a00;
  --cb-color-input-bg-focus: #fff;
  --cb-color-input-text-disabled: #ccc;
  --cb-color-input-border-disabled: #c0c6cc;
  --cb-color-input-bg-disabled: #f7f9fa;
  --cb-typo-font-family-base: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --cb-typo-font-family-monospace: Operator Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  --cb-shadow-m: 0 2px 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-m-up: 0 -2px 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-m-right: 0 0 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-m-down: 0 2px 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-m-left: 0 0 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-l: 0 4px 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-l-up: 0 -4px 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-l-right: 0 0 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-l-down: 0 4px 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-l-left: 0 0 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-xl:  0 8px 16px 0 rgba(0,0,0,0.2);
  --cb-shadow-xl-up: 0 -8px 16px 0 rgba(0,0,0,0.2);
  --cb-shadow-xl-right: 0 0 16px 0 rgba(0,0,0,0.2);
  --cb-shadow-xl-down: 0 8px 16px 0 rgba(0,0,0,0.2);
  --cb-shadow-xl-left: 0 0 16px 0 rgba(0,0,0,0.2);
}
