// 由 demo-default 生成拷贝而来，做参考，且放在仓库里 IDE 可以有提示
:root {
  --cb-color-brand-aliyun: #ff6a00;
  --cb-color-text-brand: #ff6a00;
  --cb-color-text-accent: #0064c8;
  --cb-color-text-title: #111;
  --cb-color-text-primary: #333;
  --cb-color-text-secondary: #555;
  --cb-color-text-caption: #888;
  --cb-color-text-disabled: #c1c1c1;
  --cb-color-text-error: #d93026;
  --cb-color-text-warn: #ffc440;
  --cb-color-text-success: #1e8e3e;
  --cb-color-text-info: #0064c8;
  --cb-color-text-emphasis: #ff6a00;
  --cb-color-text-code: #f25c7f;
  --cb-color-link-brand: #ff6a00;
  --cb-color-link-brand-hover: #ff6a00;
  --cb-color-link-brand-active: #ff6a00;
  --cb-color-link-brand-visited: #ff6a00;
  --cb-color-link-brand-disabled: #c1c1c1;
  --cb-color-link-primary: #0064c8;
  --cb-color-link-primary-hover: #0064c8;
  --cb-color-link-primary-active: #0064c8;
  --cb-color-link-primary-visited: #0064c8;
  --cb-color-link-primary-disabled: #c1c1c1;
  --cb-color-link-secondary: #333;
  --cb-color-link-secondary-hover: #0064c8;
  --cb-color-link-secondary-active: #0064c8;
  --cb-color-link-secondary-visited: #333;
  --cb-color-link-secondary-disabled: #c1c1c1;
  --cb-color-line-brand: #ff6a00;
  --cb-color-line-accent: #0064c8;
  --cb-color-line-error: #d93026;
  --cb-color-line-divider: #efefef;
  --cb-color-line-divider-fade: rgba(0,0,0,0.0627);
  --cb-color-line-border: #dedede;
  --cb-color-line-border-fade: rgba(0,0,0,0.1294);
  --cb-color-line-border-hover: #c0c6cc;
  --cb-color-line-border-hover-fade: rgba(0,24,49,0.2471);
  --cb-color-fill-brand: #ff6a00;
  --cb-color-fill-accent: #0064c8;
  --cb-color-fill-light: #f7f9fa;
  --cb-color-fill-light-fade: rgba(0,64,96,0.03137);
  --cb-color-fill-dark: #ebebeb;
  --cb-color-fill-dark-fade: rgba(0,0,0,0.07843);
  --cb-color-fill-darker: #dedede;
  --cb-color-fill-darker-fade: rgba(0,0,0,0.1294);
  --cb-color-fill-success: #edfcf1;
  --cb-color-fill-success-fade: rgba(0,212,57,0.0706);
  --cb-color-fill-warn: #fff7db;
  --cb-color-fill-warn-fade: rgba(255,198,0,0.1412);
  --cb-color-fill-error: #fcefee;
  --cb-color-fill-error-fade: rgba(210,15,0,0.0667);
  --cb-color-fill-info: #ebf4fb;
  --cb-color-fill-info-fade: rgba(0,115,204,0.0784);
  --cb-color-fill-help: #f7f7f7;
  --cb-color-fill-help-fade: rgba(0,0,0,0.0314);
  --cb-color-fill-main: #fafafa;
  --cb-color-fill-nav-level1: #fff;
  --cb-color-fill-nav-level2: #f5f5f5;
  --cb-color-fill-table-th: #f5f5f5;
  --cb-color-fill-table-td: #fff;
  --cb-color-fill-dialog: #fff;
  --cb-color-fill-dialog-header: #fff;
  --cb-color-fill-dialog-footer: #fff;
  --cb-color-fill-dialog-backdrop-fade: rgba(0, 0, 0, 0.2);
  --cb-color-fill-input: #fff;
  --cb-color-fill-input-disabled: #f7f9fa;
  --cb-color-fill-dropdown: #fff;
  --cb-typo-font-family-base: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --cb-typo-font-family-monospace: Operator Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  --cb-border-divider: 1px solid #efefef;
  --cb-border-divider-fade: 1px solid rgba(0,0,0,0.0627);
  --cb-border-input-normal: 1px solid #dedede;
  --cb-border-input-hover: 1px solid #dedede;
  --cb-border-input-focus: 1px solid #0064c8;
  --cb-border-input-error: 1px solid #d93026;
  --cb-border-input-disabled: 1px solid #dedede;
  --cb-shadow-m: 0 2px 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-m-up: 0 -2px 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-m-right: 0 0 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-m-down: 0 2px 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-m-left: 0 0 4px 0 rgba(0,0,0,0.16);
  --cb-shadow-l: 0 4px 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-l-up: 0 -4px 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-l-right: 0 0 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-l-down: 0 4px 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-l-left: 0 0 8px 0 rgba(0,0,0,0.16);
  --cb-shadow-xl:  0 8px 16px 0 rgba(0,0,0,0.2);
  --cb-shadow-xl-up: 0 -8px 16px 0 rgba(0,0,0,0.2);
  --cb-shadow-xl-right: 0 0 16px 0 rgba(0,0,0,0.2);
  --cb-shadow-xl-down: 0 8px 16px 0 rgba(0,0,0,0.2);
  --cb-shadow-xl-left: 0 0 16px 0 rgba(0,0,0,0.2);
}
