// 由 demo-default 生成拷贝而来，做参考，且放在仓库里 IDE 可以有提示
:root {
  --cb-color-brand-aliyun: #ff6a00;
  --cb-color-text-error: #d93026;
  --cb-color-text-warn: #ffc440;
  --cb-color-text-success: #1e8e3e;
  --cb-color-text-info: #0064c8;
  --cb-color-text-emphasis: #ff6a00;
  --cb-color-text-title: #111;
  --cb-color-text-primary: #333;
  --cb-color-text-secondary: #555;
  --cb-color-text-caption: #888;
  --cb-color-text-disabled: #c1c1c1;
  --cb-color-link-primary: #0070cc;
  --cb-color-link-primary-hovered: #0070cc;
  --cb-color-link-primary-active: #0070cc;
  --cb-color-link-primary-disabled: #c1c1c1;
  --cb-color-link-secondary: #333;
  --cb-color-link-secondary-hovered: #111;
  --cb-color-link-secondary-active: #111;
  --cb-color-link-secondary-disabled: #c1c1c1;
  --cb-color-line-divider: #efefef;
  --cb-color-line-divider-faded: rgba(0,0,0,0.0627);
  --cb-color-line-border: #dedede;
  --cb-color-line-border-faded: rgba(0,0,0,0.1294);
  --cb-color-line-border-hovered: #c0c6cc;
  --cb-color-line-border-hovered-faded: rgba(0,24,49,0.2471);
  --cb-color-fill-main: #fafafa;
  --cb-color-fill-nav-level1: #fff;
  --cb-color-fill-nav-level2: #f5f5f5;
  --cb-color-fill-dialog: #fff;
  --cb-color-fill-dialog-header: #fff;
  --cb-color-fill-dialog-footer: #fff;
  --cb-color-fill-dialog-backdrop-faded: rgba(0, 0, 0, 0.2);
  --cb-color-fill-light: #f7f9fa;
  --cb-color-fill-light-faded: rgba(0,64,96,0.03137);
  --cb-color-fill-dark: #ebebeb;
  --cb-color-fill-dark-faded: rgba(0,0,0,0.07843);
  --cb-color-fill-darker: #dedede;
  --cb-color-fill-darker-faded: rgba(0,0,0,0.1294);
  --cb-color-fill-success: #edfcf1;
  --cb-color-fill-success-faded: rgba(0,212,57,0.0706);
  --cb-color-fill-warn: #fff7db;
  --cb-color-fill-warn-faded: rgba(255,198,0,0.1412);
  --cb-color-fill-error: #fcefee;
  --cb-color-fill-error-faded: rgba(210,15,0,0.0667);
  --cb-color-fill-info: #ebf4fb;
  --cb-color-fill-info-faded: rgba(0,115,204,0.0784);
  --cb-color-fill-help: #f7f7f7;
  --cb-color-fill-help-faded: rgba(0,0,0,0.0314);
  --cb-typo-font-family-base: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --cb-typo-font-family-monospace: Operator Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}
